@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-pulse-slow {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes fall {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(0) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translateX(-20px) rotate(45deg);
    }
    40% {
        transform: translateX(-20px) rotate(90deg);
    }
    60% {
        transform: translateX(-20px) rotate(135deg);
    }
    80% {
        transform: translateX(-20px) rotate(180deg);
    }
    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.sakura-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}

.sakura {
    position: absolute;
    top: -10%;
    width: 15px;
    height: 15px;
    background: #ffc0cb;
    border-radius: 15px 0px;
    animation: fall linear infinite;
}

.sakura:nth-child(2n) {
    width: 12px;
    height: 12px;
    background: #ffb7c5;
}

.sakura:nth-child(3n) {
    width: 10px;
    height: 10px;
    background: #ffd1dc;
    animation-duration: 15s;
}

.sakura:nth-child(4n) {
    width: 18px;
    height: 18px;
    background: #ffdae9;
    animation-duration: 12s;
}
